<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Discord_Message_Logger.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="SelfBot_Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Discord_Message_Logger.Properties.Settings>
            <setting name="HeartBeatLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DMs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Groups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Servers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MessageRecievedBool" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MessageRemovedBool" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MessageUpdatedBool" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PresenceUpdatedBool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Token" serializeAs="String">
                <value>null</value>
            </setting>
            <setting name="SaveOnClosing" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Encrypt" serializeAs="String">
                <value>True</value>
            </setting>
        </Discord_Message_Logger.Properties.Settings>
        <SelfBot_Framework.Properties.Settings>
            <setting name="HeartBeatLogs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DMs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Groups" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Servers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MessageRecievedBool" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MessageRemovedBool" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MessageUpdatedBool" serializeAs="String">
                <value>True</value>
            </setting>
        </SelfBot_Framework.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.8.0" newVersion="3.1.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>